#glider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Adjusted height */
    width: 90vw; /* Adjusted width */
    margin: 5vh auto; /* Centering the container */
    overflow: hidden; /* Hide any overflow */
    position: relative; /* Position relative for absolute positioning of children */
    animation: moveGlider 4s linear infinite; /* Animation for moving the container */
}

.glider {
    position: absolute;
    opacity: 0; /* Start invisible */
    animation: glideSequence 4s linear infinite; /* Animation for glider state changes */
}

@keyframes glideSequence {
    0%, 24.9999% { 
        opacity: 1; /* Fully visible for just before the first quarter of the animation */
    }
    25%, 100% {
        opacity: 0; /* Invisible for the rest */
    }
}

#glider2 {
    animation-delay: 1s; /* Delay for the second SVG */
}

#glider3 {
    animation-delay: 2s; /* Delay for the third SVG */
}

#glider4 {
    animation-delay: 3s; /* Delay for the fourth SVG */
}

@keyframes moveGlider {
    0% {
        transform: translate(2.5vh, -2.5vh); /* Starting position */
    }
    100% {
        transform: translate(0vh, 0vh); /* End position after 4 seconds */
    }
}
