#glider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: moveGlider 4s linear infinite; /* Animation for moving the container */
}

.glider {
    position: absolute;
    opacity: 0; /* Start invisible */
    animation: glideSequence 4s linear infinite; /* Animation for glider state changes */
}

@keyframes glideSequence {
    0%, 25% {
        opacity: 1; /* Fully visible for the first quarter of the animation */
    }
    26%, 100% {
        opacity: 0; /* Invisible for the rest */
    }
}

#glider2 {
    animation-delay: 1s; /* Delay for the second SVG */
}

#glider3 {
    animation-delay: 2s; /* Delay for the third SVG */
}

#glider4 {
    animation-delay: 3s; /* Delay for the fourth SVG */
}

@keyframes moveGlider {
    0% {
        transform: translate(2.5vh, -2.5vh); /* Starting position */
    }
    100% {
        transform: translate(0vh, 0vh); /* End position after 4 seconds */
    }
}
